.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.Head
{
  width: 100%;
  background-color: rgb(128, 225, 255);
  height: 50px;
  border-bottom-color: black;
  border-bottom-style: groove;
  border-bottom-width: 5px;
  padding: 20 px;
  color: white;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
